{% extends '::layout.html.twig' %}



{% block sidebar %}
    <ul class="nav nav-tabs nav-stacked">
        <li><a href="" class="active"><span style="color: #2c3e50;" class="glyphicon glyphicon-home"></span>&nbsp; Accueil</a></li>
        <li><a href="{{ path('diplome_new') }}"><span style="color: #2c3e50;" class="glyphicon glyphicon-plus-sign"></span>&nbsp; Soumettre un Diplome</a></li>
        <li><a href="{{ path('diplome') }}"><span style="color: #2c3e50;" class="glyphicon glyphicon-th-list"></span>&nbsp;Mes Diplomes </a></li>
        <li><a href=""><span style="color: #2c3e50;" class="glyphicon glyphicon-question-sign"></span>&nbsp; Aide </a></li>
    </ul>
{% endblock %}

{% block panel_title %}
    <h3 class="panel-title">Espace Etablissement</h3>
{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Salut Cher représentant de l'Etablissement <span class="text-info">{{ app.user.username }}</span>
    {% else %}
        <p>Va te connecter.</p>
    {% endif %}
{% endblock %}